<!DOCTYPE html>
<html lang="en">
<head>
    <title>Short link</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Error</th>
        </tr>
        </thead>
        <tbody>
        <td style="color: red"> Введены некорректные данные</td>
        </tr>
        </tbody>

    </table>
</div>
<div id="back">
    <a href="/">Back</a>
</div>


</body>

</html>
<style>
    #back > * {
        position: absolute;
        left: 50%;
    }
</style>
